{
  "finastra": {
    "oauth2": {
      "strong": false,
      "baseUrl": "https://api.fusionfabric.cloud",
      "baseLogin": "https://api.fusionfabric.cloud/login/v1",
      "clientId": "<%YOUR-CLIENT-ID%>",
      "clientSecret": "<%YOUR-SECRET-KEY%>",
      "grantType": "authorization_code",
      "accessTokenEndpoint": "/login/v1/sandbox/oidc/token",
      "authorizationEndpoint": "/login/v1/sandbox/oidc/authorize",
      "redirectUri": "http://localhost:4000/callback",
      "scope": "openid",
      "KeyID": "key"
    }
  },
  "Logging": {
    "IncludeScopes": false,
    "Debug": {
      "LogLevel": {
        "Default": "Warning"
      }
    },
    "Console": {
      "LogLevel": {
        "Default": "Warning"
      }
    }
  }
}
