@model ffdc_authorization_code.Models.TradeCaptureStaticDataList
@{
    ViewData["Title"] = "results";
    Layout = "~/Views/_Layout.cshtml";
}

<main class="main">
    <div class="row">
        @foreach (var result in Model.items)
        {
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@result.Id</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@result.Description</h6>
                        <p></p>
                        <p class="card-text">
                            <strong>Applicable entities:</strong>
                            <ul class="list-group list-group-flush">
                                @foreach (var detail in result.ApplicableEntities)
                                {
                                    <li class="list-group-item">@detail</li>
                                }
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</main>

