<!DOCTYPE html>
@{
    var strong = (bool)ViewBag.isStrong;
}
<html>
<head>
    @{ await Html.RenderPartialAsync("~/Views/Partials/_head.cshtml");}
</head>
<body class="container-fluid">
    <header>
        @{await Html.RenderPartialAsync("~/Views/Partials/_header.cshtml", strong);}
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
