
@{
    ViewData["Title"] = "FFDC Client Credential Sample";
}

<h2>FFDC Client Credentials Authentication flow Sample</h2>

<div style="width:50%"><b>List of Countries:</b></div>
<div class="form-group">
    <table class="table table-bordered table-responsive table-hover" border="1" id="countryTable">
        <thead>
            <tr>
                <th>Country Name</th>
                <th>Alpha2 Code</th>
                <th>Alpha3 Code</th>
                <th>currency</th>
            </tr>
        </thead>

    </table>
</div>

<script type="text/javascript" src="/Scripts/jquery-3.4.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript">

    $(document).ready(function () {

        // Set up the DataTable grid
        $("#countryTable").DataTable({
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false,
            "paging": true,
            "pagingType": "full_numbers",
            "pageLength": 10,
            "ajax": {
                'url': '/Home/GetCountryDetails',
                'type': 'GET',
                'datatype': 'json',
                'data': function (data) {
                    return data;
                }

            },
            "columns": [
                { "data": "name", "autoWidth": true },
                { "data": "alpha2code", "autoWidth": true },
                { "data": "alpha3code", "autoWidth": true },
                { "data": "currency", "autoWidth": true }

            ]
        });

    });
</script>
