@model String

@{
    ViewData["Title"] = "error";
    Layout = "~/Views/_Layout.cshtml";
}
<main class="main">
    <div class="row">

        <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
                @Model
            </div>
        </div>

</main>
