
@{
    ViewData["Title"] = "Index";
}

<h2>Sucessfully signed in!</h2> <div style="width:20px"><b>@Html.ActionLink("Signout", "Signout", "Login")</b></div>

@Html.ActionLink("List Forex Spot Trade", "Index", "Data");