
@{
    ViewData["Title"] = "logout";
    Layout = "~/Views/_Layout.cshtml";
}

<main class="main">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success" role="alert">
                You successfully removed the access token. 
            </div>
        </div>

</main>
